*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: url("./images/background-bien.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    width: 350px;
    height: 550px;
    border-radius: 20px;
    background-image: url("./images/background-khung.jpg") ;

    padding: 30px;
    color: rgb(251, 253, 255);
}

.song-name,.artist{
    text-align: center;
    text-transform:capitalize;
    color: black;
}

.song-name{
    font-size: 30px;
    font-weight: 650;
    margin-bottom: 5px;
    margin-top: -10px;
}

.artist{
    font-size: 20px;
    font-weight: 550;
}

.box-disk{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    display: block;
    margin: 30px auto;
    background: url("./images/dia-nhac.jpg");
    background-size: cover;
    box-shadow: 0 0 0 8px rgb(13, 15, 51);
    animation: rotate 20s linear infinite;
    animation-play-state:paused ;
}

.box-disk.play{
    animation-play-state: running;
}

.box-disk::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    border-radius: 80%;
    background-color: rgb(255, 255, 255);
    
}

.music-slider{
    width: 100%;
    float: 5px;
    position: relative;
}

.seekbar{
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background:rgb(144, 167, 249);
    -webkit-appearance: none;
    cursor: pointer;
    overflow: hidden;
}

.seekbar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 5px;
    height: 10px;
    background: rgb(46, 21, 184) ;
    box-shadow: -400px 0 0 400px rgb(141, 91, 227);
}

.current-time,.music-time{
    font-size: 12px;
}

.music-time{
    position: absolute;
    float: left;
    right:0;
}

.control{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}

.btn-play{
    position: relative;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(8, 8, 8);
    cursor: pointer;
    border: none;
}

.btn-play span{
    position:absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background: rgb(59, 160, 238);
    transition: .5s;
    clip-path: polygon(0 0,100% 0, 100% 100%, 0% 100%);
}

.btn-play span:nth-child(2){
    left:55%;
    transform-origin: center;
}

.btn-play.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}
    
.btn-play.pause span:nth-child(1){
    width:35%;
    left:53%;
    transform: translate(-50%,-50%);
    border-radius: 0;
    clip-path: polygon(0 0,100% 50%, 100% 50%, 0% 100%);
}

.btn-play.pause{
    animation:pulse 2s linear infinite;
}

@keyframes pulse{
    0%{
        box-shadow: 0;
    }
    50%{
        box-shadow: 0 0 0 5px white;
    }
    100%{
        box-shadow: 0 0 0 5px rgb(18, 12, 109);
    }
}

.btn{
    width: 40px;
    height: 40px;
    background-color: rgb(92, 155, 217);
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor:pointer;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    
    100%{
        transform: rotate(360deg);
    }
}

.Name{
margin-top: 40px;
text-align: center;
font-size: larger;
font-weight: bold;
color: black;
}